/****** Object:  Table [dbo].[Avaliacao]    Script Date: 03/07/2016 20:50:42 ******/
CREATE TABLE [dbo].[Avaliacao](
	[CodigoAvaliacao] [int] IDENTITY(1,1) NOT NULL,
	[NotaGarcom] [tinyint] NOT NULL,
	[NotaAtendimento] [tinyint] NOT NULL,
	[NotaAmbiente] [tinyint] NOT NULL,
	[NotaTempoAtendimento] [tinyint] NOT NULL,
	[NotaCardapioTablet] [tinyint] NOT NULL,
	[CodigoConta] [int] NULL,
	PRIMARY KEY CLUSTERED ([CodigoAvaliacao] ASC)
)
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 03/07/2016 20:50:42 ******/
CREATE TABLE [dbo].[Categoria](
	[CodigoCategoria] [int] IDENTITY(1,1) NOT NULL,
	PRIMARY KEY CLUSTERED ([CodigoCategoria] ASC)
)
GO
/****** Object:  Table [dbo].[CategoriaTraducao]    Script Date: 03/07/2016 20:50:42 ******/
CREATE TABLE [dbo].[CategoriaTraducao](
	[CodigoCategoriaTraducao] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
	[Descricao] [nvarchar](100) NOT NULL,
	[CodigoIdioma] [int] NULL,
	[CodigoCategoria] [int] NULL,
	PRIMARY KEY CLUSTERED ([CodigoCategoriaTraducao] ASC)
)
GO
/****** Object:  Table [dbo].[Conta]    Script Date: 03/07/2016 20:50:42 ******/
CREATE TABLE [dbo].[Conta](
	[CodigoConta] [int] IDENTITY(1,1) NOT NULL,
	[NumeroMesa] [int] NOT NULL,
	[DataCriacao] [datetime] NOT NULL,
	[Situacao] [nvarchar](255) NOT NULL,
	[FormaPagamento] [nvarchar](255) NULL,
	[TipoDivisao] [nvarchar](255) NULL,
	[CodigoAvaliacao] [int] NULL,
	PRIMARY KEY CLUSTERED ([CodigoConta] ASC)
)
GO
/****** Object:  Table [dbo].[ContaItemPedido]    Script Date: 03/07/2016 20:50:42 ******/
CREATE TABLE [dbo].[ContaItemPedido](
	[CodigoConta] [int] NOT NULL,
	[CodigoItemPedido] [int] NOT NULL,
	PRIMARY KEY CLUSTERED ([CodigoConta] ASC, [CodigoItemPedido] ASC)
)
GO
/****** Object:  Table [dbo].[ContaParcial]    Script Date: 03/07/2016 20:50:42 ******/
CREATE TABLE [dbo].[ContaParcial](
	[CodigoContaParcial] [int] IDENTITY(1,1) NOT NULL,
	[Cliente] [nvarchar](100) NOT NULL,
	[CodigoConta] [int] NULL,
	PRIMARY KEY CLUSTERED ([CodigoContaParcial] ASC)
)
GO
/****** Object:  Table [dbo].[ContaParcialItemPedido]    Script Date: 03/07/2016 20:50:42 ******/
CREATE TABLE [dbo].[ContaParcialItemPedido](
	[CodigoContaParcial] [int] NOT NULL,
	[CodigoItemPedido] [int] NOT NULL,
	PRIMARY KEY CLUSTERED ([CodigoContaParcial] ASC, [CodigoItemPedido] ASC)
)
GO
/****** Object:  Table [dbo].[Idioma]    Script Date: 03/07/2016 20:50:42 ******/
CREATE TABLE [dbo].[Idioma](
	[CodigoIdioma] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
	[Sigla] [nvarchar](100) NOT NULL,
	PRIMARY KEY CLUSTERED ([CodigoIdioma] ASC)
)
GO
/****** Object:  Table [dbo].[ItemPedido]    Script Date: 03/07/2016 20:50:42 ******/
CREATE TABLE [dbo].[ItemPedido](
	[CodigoItemPedido] [int] IDENTITY(1,1) NOT NULL,
	[SituacaoPreparo] [nvarchar](255) NOT NULL,
	[CodigoProduto] [int] NULL,
	PRIMARY KEY CLUSTERED ([CodigoItemPedido] ASC)
)
GO
/****** Object:  Table [dbo].[ItemPedidoOpcoesSelecionadas]    Script Date: 03/07/2016 20:50:42 ******/
CREATE TABLE [dbo].[ItemPedidoOpcoesSelecionadas](
	[CodigoItemPedido] [int] NOT NULL,
	[CodigoOpcao] [int] NOT NULL,
	PRIMARY KEY CLUSTERED ([CodigoItemPedido] ASC, [CodigoOpcao] ASC)
)
GO
/****** Object:  Table [dbo].[Opcao]    Script Date: 03/07/2016 20:50:42 ******/
CREATE TABLE [dbo].[Opcao](
	[CodigoOpcao] [int] IDENTITY(1,1) NOT NULL,
	PRIMARY KEY CLUSTERED ([CodigoOpcao] ASC)
)
GO
/****** Object:  Table [dbo].[OpcaoProduto]    Script Date: 03/07/2016 20:50:42 ******/
CREATE TABLE [dbo].[OpcaoProduto](
	[CodigoOpcao] [int] NOT NULL,
	[CodigoProduto] [int] NULL,
	PRIMARY KEY CLUSTERED ([CodigoOpcao] ASC)
)
GO
/****** Object:  Table [dbo].[OpcaoSubcategoria]    Script Date: 03/07/2016 20:50:42 ******/
CREATE TABLE [dbo].[OpcaoSubcategoria](
	[CodigoOpcao] [int] NOT NULL,
	[CodigoSubcategoria] [int] NULL,
	PRIMARY KEY CLUSTERED ([CodigoOpcao] ASC)
)
GO
/****** Object:  Table [dbo].[OpcaoTraducao]    Script Date: 03/07/2016 20:50:42 ******/
CREATE TABLE [dbo].[OpcaoTraducao](
	[CodigoOpcaoTraducao] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
	[Descricao] [nvarchar](100) NOT NULL,
	[CodigoIdioma] [int] NULL,
	[CodigoOpcao] [int] NULL,
	PRIMARY KEY CLUSTERED ([CodigoOpcaoTraducao] ASC)
)
GO
/****** Object:  Table [dbo].[Produto]    Script Date: 03/07/2016 20:50:42 ******/
CREATE TABLE [dbo].[Produto](
	[CodigoProduto] [int] IDENTITY(1,1) NOT NULL,
	[Preco] [decimal](19, 5) NOT NULL,
	[Imagem] [nvarchar](255) NULL,
	[Destaque] [bit] NOT NULL,
	[CodigoSubcategoria] [int] NULL,
	PRIMARY KEY CLUSTERED ([CodigoProduto] ASC)
)
GO
/****** Object:  Table [dbo].[ProdutoTraducao]    Script Date: 03/07/2016 20:50:42 ******/
CREATE TABLE [dbo].[ProdutoTraducao](
	[CodigoProdutoTraducao] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
	[Descricao] [nvarchar](100) NOT NULL,
	[CodigoIdioma] [int] NULL,
	[CodigoProduto] [int] NULL,
	PRIMARY KEY CLUSTERED ([CodigoProdutoTraducao] ASC)
)
GO
/****** Object:  Table [dbo].[Solicitacao]    Script Date: 03/07/2016 20:50:42 ******/
CREATE TABLE [dbo].[Solicitacao](
	[CodigoSolicitacao] [int] IDENTITY(1,1) NOT NULL,
	[Mensagem] [nvarchar](100) NOT NULL,
	[TipoSolicitacao] [nvarchar](255) NOT NULL,
	[CodigoConta] [int] NULL,
	PRIMARY KEY CLUSTERED ([CodigoSolicitacao] ASC)
)
GO
/****** Object:  Table [dbo].[Subcategoria]    Script Date: 03/07/2016 20:50:42 ******/
CREATE TABLE [dbo].[Subcategoria](
	[CodigoSubcategoria] [int] IDENTITY(1,1) NOT NULL,
	[CodigoCategoria] [int] NULL,
	PRIMARY KEY CLUSTERED ([CodigoSubcategoria] ASC)
)
GO
/****** Object:  Table [dbo].[SubcategoriaTraducao]    Script Date: 03/07/2016 20:50:42 ******/
CREATE TABLE [dbo].[SubcategoriaTraducao](
	[CodigoSubcategoriaTraducao] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
	[Descricao] [nvarchar](100) NOT NULL,
	[CodigoIdioma] [int] NULL,
	[CodigoSubcategoria] [int] NULL,
	PRIMARY KEY CLUSTERED ([CodigoSubcategoriaTraducao] ASC)
)
GO
SET IDENTITY_INSERT [dbo].[Avaliacao] ON 

INSERT [dbo].[Avaliacao] ([CodigoAvaliacao], [NotaGarcom], [NotaAtendimento], [NotaAmbiente], [NotaTempoAtendimento], [NotaCardapioTablet], [CodigoConta]) VALUES (1, 4, 3, 4, 5, 5, 1)
INSERT [dbo].[Avaliacao] ([CodigoAvaliacao], [NotaGarcom], [NotaAtendimento], [NotaAmbiente], [NotaTempoAtendimento], [NotaCardapioTablet], [CodigoConta]) VALUES (2, 3, 1, 5, 3, 2, 3)
INSERT [dbo].[Avaliacao] ([CodigoAvaliacao], [NotaGarcom], [NotaAtendimento], [NotaAmbiente], [NotaTempoAtendimento], [NotaCardapioTablet], [CodigoConta]) VALUES (3, 4, 3, 3, 3, 5, 5)
SET IDENTITY_INSERT [dbo].[Avaliacao] OFF
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([CodigoCategoria]) VALUES (1)
INSERT [dbo].[Categoria] ([CodigoCategoria]) VALUES (2)
INSERT [dbo].[Categoria] ([CodigoCategoria]) VALUES (3)
SET IDENTITY_INSERT [dbo].[Categoria] OFF
SET IDENTITY_INSERT [dbo].[CategoriaTraducao] ON 

INSERT [dbo].[CategoriaTraducao] ([CodigoCategoriaTraducao], [Nome], [Descricao], [CodigoIdioma], [CodigoCategoria]) VALUES (1, N'Entrada', N'Opções de entrada', 1, 1)
INSERT [dbo].[CategoriaTraducao] ([CodigoCategoriaTraducao], [Nome], [Descricao], [CodigoIdioma], [CodigoCategoria]) VALUES (2, N'Saladas', N'Opções de saladas', 1, 2)
INSERT [dbo].[CategoriaTraducao] ([CodigoCategoriaTraducao], [Nome], [Descricao], [CodigoIdioma], [CodigoCategoria]) VALUES (3, N'Porções', N'Opções de porções', 1, 3)
SET IDENTITY_INSERT [dbo].[CategoriaTraducao] OFF
SET IDENTITY_INSERT [dbo].[Conta] ON 

INSERT [dbo].[Conta] ([CodigoConta], [NumeroMesa], [DataCriacao], [Situacao], [FormaPagamento], [TipoDivisao], [CodigoAvaliacao]) VALUES (1, 0, CAST(N'2013-11-30 17:55:29.000' AS DateTime), N'Fechada', NULL, NULL, 1)
INSERT [dbo].[Conta] ([CodigoConta], [NumeroMesa], [DataCriacao], [Situacao], [FormaPagamento], [TipoDivisao], [CodigoAvaliacao]) VALUES (2, 0, CAST(N'2013-11-30 18:09:01.000' AS DateTime), N'Aberta', NULL, NULL, NULL)
INSERT [dbo].[Conta] ([CodigoConta], [NumeroMesa], [DataCriacao], [Situacao], [FormaPagamento], [TipoDivisao], [CodigoAvaliacao]) VALUES (3, 0, CAST(N'2013-11-30 18:10:28.000' AS DateTime), N'Fechada', N'0', N'0', 2)
GO
SET IDENTITY_INSERT [dbo].[Conta] OFF
INSERT [dbo].[ContaItemPedido] ([CodigoConta], [CodigoItemPedido]) VALUES (1, 1)
INSERT [dbo].[ContaItemPedido] ([CodigoConta], [CodigoItemPedido]) VALUES (3, 2)
INSERT [dbo].[ContaItemPedido] ([CodigoConta], [CodigoItemPedido]) VALUES (4, 3)
GO
SET IDENTITY_INSERT [dbo].[ContaParcial] ON 

INSERT [dbo].[ContaParcial] ([CodigoContaParcial], [Cliente], [CodigoConta]) VALUES (1, N'1', 11)
INSERT [dbo].[ContaParcial] ([CodigoContaParcial], [Cliente], [CodigoConta]) VALUES (2, N'2', 11)
INSERT [dbo].[ContaParcial] ([CodigoContaParcial], [Cliente], [CodigoConta]) VALUES (3, N'1', 13)
SET IDENTITY_INSERT [dbo].[ContaParcial] OFF
INSERT [dbo].[ContaParcialItemPedido] ([CodigoContaParcial], [CodigoItemPedido]) VALUES (1, 6)
INSERT [dbo].[ContaParcialItemPedido] ([CodigoContaParcial], [CodigoItemPedido]) VALUES (1, 7)
INSERT [dbo].[ContaParcialItemPedido] ([CodigoContaParcial], [CodigoItemPedido]) VALUES (2, 7)
GO
SET IDENTITY_INSERT [dbo].[Idioma] ON 

INSERT [dbo].[Idioma] ([CodigoIdioma], [Nome], [Sigla]) VALUES (1, N'Português', N'pt-BR')
INSERT [dbo].[Idioma] ([CodigoIdioma], [Nome], [Sigla]) VALUES (2, N'Inglês', N'en-US')
SET IDENTITY_INSERT [dbo].[Idioma] OFF
SET IDENTITY_INSERT [dbo].[ItemPedido] ON 

INSERT [dbo].[ItemPedido] ([CodigoItemPedido], [SituacaoPreparo], [CodigoProduto]) VALUES (1, N'AguardandoPreparacao', 4)
INSERT [dbo].[ItemPedido] ([CodigoItemPedido], [SituacaoPreparo], [CodigoProduto]) VALUES (2, N'AguardandoPreparacao', 35)
INSERT [dbo].[ItemPedido] ([CodigoItemPedido], [SituacaoPreparo], [CodigoProduto]) VALUES (3, N'AguardandoPreparacao', 35)
GO
SET IDENTITY_INSERT [dbo].[ItemPedido] OFF
INSERT [dbo].[ItemPedidoOpcoesSelecionadas] ([CodigoItemPedido], [CodigoOpcao]) VALUES (1092, 1)
INSERT [dbo].[ItemPedidoOpcoesSelecionadas] ([CodigoItemPedido], [CodigoOpcao]) VALUES (1092, 2)
INSERT [dbo].[ItemPedidoOpcoesSelecionadas] ([CodigoItemPedido], [CodigoOpcao]) VALUES (1092, 3)
SET IDENTITY_INSERT [dbo].[Opcao] ON 

INSERT [dbo].[Opcao] ([CodigoOpcao]) VALUES (1)
INSERT [dbo].[Opcao] ([CodigoOpcao]) VALUES (2)
INSERT [dbo].[Opcao] ([CodigoOpcao]) VALUES (3)
SET IDENTITY_INSERT [dbo].[Opcao] OFF
INSERT [dbo].[OpcaoSubcategoria] ([CodigoOpcao], [CodigoSubcategoria]) VALUES (1, 1)
INSERT [dbo].[OpcaoSubcategoria] ([CodigoOpcao], [CodigoSubcategoria]) VALUES (2, 1)
INSERT [dbo].[OpcaoSubcategoria] ([CodigoOpcao], [CodigoSubcategoria]) VALUES (3, 2)
SET IDENTITY_INSERT [dbo].[OpcaoTraducao] ON 

INSERT [dbo].[OpcaoTraducao] ([CodigoOpcaoTraducao], [Nome], [Descricao], [CodigoIdioma], [CodigoOpcao]) VALUES (41, N'Pimenta', N'Pimenta', 1, 1)
INSERT [dbo].[OpcaoTraducao] ([CodigoOpcaoTraducao], [Nome], [Descricao], [CodigoIdioma], [CodigoOpcao]) VALUES (42, N'Azeite', N'Azeite', 1, 2)
INSERT [dbo].[OpcaoTraducao] ([CodigoOpcaoTraducao], [Nome], [Descricao], [CodigoIdioma], [CodigoOpcao]) VALUES (43, N'Azeite', N'Azeite', 1, 3)
SET IDENTITY_INSERT [dbo].[OpcaoTraducao] OFF
SET IDENTITY_INSERT [dbo].[Produto] ON 

INSERT [dbo].[Produto] ([CodigoProduto], [Preco], [Imagem], [Destaque], [CodigoSubcategoria]) VALUES (1, CAST(10.00000 AS Decimal(19, 5)), N'img_entrada_entrada_berinjelaaitaliana', 1, 1)
INSERT [dbo].[Produto] ([CodigoProduto], [Preco], [Imagem], [Destaque], [CodigoSubcategoria]) VALUES (2, CAST(10.00000 AS Decimal(19, 5)), N'img_entrada_entrada_bruschetta', 0, 1)
INSERT [dbo].[Produto] ([CodigoProduto], [Preco], [Imagem], [Destaque], [CodigoSubcategoria]) VALUES (3, CAST(10.00000 AS Decimal(19, 5)), N'img_entrada_entrada_presuntoparma', 0, 1)
GO
SET IDENTITY_INSERT [dbo].[Produto] OFF
SET IDENTITY_INSERT [dbo].[ProdutoTraducao] ON 

INSERT [dbo].[ProdutoTraducao] ([CodigoProdutoTraducao], [Nome], [Descricao], [CodigoIdioma], [CodigoProduto]) VALUES (1, N'Berinjela à italiana', N'Berinjela com molho vermelho e alcaparras.', 1, 1)
INSERT [dbo].[ProdutoTraducao] ([CodigoProdutoTraducao], [Nome], [Descricao], [CodigoIdioma], [CodigoProduto]) VALUES (2, N'Bruscheta', N'Fatia de baguete torrada com tomates marinados.', 1, 2)
INSERT [dbo].[ProdutoTraducao] ([CodigoProdutoTraducao], [Nome], [Descricao], [CodigoIdioma], [CodigoProduto]) VALUES (3, N'Presunto Parma', N'Presunto Parma laminado.', 1, 3)
GO
SET IDENTITY_INSERT [dbo].[ProdutoTraducao] OFF
SET IDENTITY_INSERT [dbo].[Solicitacao] ON 

INSERT [dbo].[Solicitacao] ([CodigoSolicitacao], [Mensagem], [TipoSolicitacao], [CodigoConta]) VALUES (1, N'A mesa 1 está solicitando a presença do garçom', N'ChamarGarcom', 1)
INSERT [dbo].[Solicitacao] ([CodigoSolicitacao], [Mensagem], [TipoSolicitacao], [CodigoConta]) VALUES (2, N'A mesa 1 está solicitando a presença do garçom', N'ChamarGarcom', 1)
INSERT [dbo].[Solicitacao] ([CodigoSolicitacao], [Mensagem], [TipoSolicitacao], [CodigoConta]) VALUES (3, N'A mesa 0 solicitou o fechamento da conta 1', N'EncerrarConta', 1)
SET IDENTITY_INSERT [dbo].[Solicitacao] OFF
SET IDENTITY_INSERT [dbo].[Subcategoria] ON 

INSERT [dbo].[Subcategoria] ([CodigoSubcategoria], [CodigoCategoria]) VALUES (1, 1)
INSERT [dbo].[Subcategoria] ([CodigoSubcategoria], [CodigoCategoria]) VALUES (2, 2)
INSERT [dbo].[Subcategoria] ([CodigoSubcategoria], [CodigoCategoria]) VALUES (3, 3)
SET IDENTITY_INSERT [dbo].[Subcategoria] OFF
SET IDENTITY_INSERT [dbo].[SubcategoriaTraducao] ON 

INSERT [dbo].[SubcategoriaTraducao] ([CodigoSubcategoriaTraducao], [Nome], [Descricao], [CodigoIdioma], [CodigoSubcategoria]) VALUES (1, N'Entrada', N'Opções de entrada', 1, 1)
INSERT [dbo].[SubcategoriaTraducao] ([CodigoSubcategoriaTraducao], [Nome], [Descricao], [CodigoIdioma], [CodigoSubcategoria]) VALUES (2, N'Saladas', N'Opções de saladas', 1, 2)
INSERT [dbo].[SubcategoriaTraducao] ([CodigoSubcategoriaTraducao], [Nome], [Descricao], [CodigoIdioma], [CodigoSubcategoria]) VALUES (3, N'Porções', N'Opções de porções', 1, 3)
SET IDENTITY_INSERT [dbo].[SubcategoriaTraducao] OFF
ALTER TABLE [dbo].[Avaliacao]  WITH CHECK ADD  CONSTRAINT [FKB1051907C017D7ED] FOREIGN KEY([CodigoConta])
REFERENCES [dbo].[Conta] ([CodigoConta])
GO
ALTER TABLE [dbo].[Avaliacao] CHECK CONSTRAINT [FKB1051907C017D7ED]
GO
ALTER TABLE [dbo].[CategoriaTraducao]  WITH CHECK ADD  CONSTRAINT [FKE4BD788C190BD838] FOREIGN KEY([CodigoCategoria])
REFERENCES [dbo].[Categoria] ([CodigoCategoria])
GO
ALTER TABLE [dbo].[CategoriaTraducao] CHECK CONSTRAINT [FKE4BD788C190BD838]
GO
ALTER TABLE [dbo].[CategoriaTraducao]  WITH CHECK ADD  CONSTRAINT [FKE4BD788CF548BAE] FOREIGN KEY([CodigoIdioma])
REFERENCES [dbo].[Idioma] ([CodigoIdioma])
GO
ALTER TABLE [dbo].[CategoriaTraducao] CHECK CONSTRAINT [FKE4BD788CF548BAE]
GO
ALTER TABLE [dbo].[Conta]  WITH CHECK ADD  CONSTRAINT [FKA1324D88AB0D3B2] FOREIGN KEY([CodigoAvaliacao])
REFERENCES [dbo].[Avaliacao] ([CodigoAvaliacao])
GO
ALTER TABLE [dbo].[Conta] CHECK CONSTRAINT [FKA1324D88AB0D3B2]
GO
ALTER TABLE [dbo].[ContaItemPedido]  WITH CHECK ADD  CONSTRAINT [FK729394DDB14A1783] FOREIGN KEY([CodigoItemPedido])
REFERENCES [dbo].[ItemPedido] ([CodigoItemPedido])
GO
ALTER TABLE [dbo].[ContaItemPedido] CHECK CONSTRAINT [FK729394DDB14A1783]
GO
ALTER TABLE [dbo].[ContaItemPedido]  WITH CHECK ADD  CONSTRAINT [FK729394DDC017D7ED] FOREIGN KEY([CodigoConta])
REFERENCES [dbo].[Conta] ([CodigoConta])
GO
ALTER TABLE [dbo].[ContaItemPedido] CHECK CONSTRAINT [FK729394DDC017D7ED]
GO
ALTER TABLE [dbo].[ContaParcial]  WITH CHECK ADD  CONSTRAINT [FKB2BD644CC017D7ED] FOREIGN KEY([CodigoConta])
REFERENCES [dbo].[Conta] ([CodigoConta])
GO
ALTER TABLE [dbo].[ContaParcial] CHECK CONSTRAINT [FKB2BD644CC017D7ED]
GO
ALTER TABLE [dbo].[ContaParcialItemPedido]  WITH CHECK ADD  CONSTRAINT [FKAF3BE2AC1FDCFE] FOREIGN KEY([CodigoContaParcial])
REFERENCES [dbo].[ContaParcial] ([CodigoContaParcial])
GO
ALTER TABLE [dbo].[ContaParcialItemPedido] CHECK CONSTRAINT [FKAF3BE2AC1FDCFE]
GO
ALTER TABLE [dbo].[ContaParcialItemPedido]  WITH CHECK ADD  CONSTRAINT [FKAF3BE2B14A1783] FOREIGN KEY([CodigoItemPedido])
REFERENCES [dbo].[ItemPedido] ([CodigoItemPedido])
GO
ALTER TABLE [dbo].[ContaParcialItemPedido] CHECK CONSTRAINT [FKAF3BE2B14A1783]
GO
ALTER TABLE [dbo].[ItemPedido]  WITH CHECK ADD  CONSTRAINT [FKB29E5728A14E987] FOREIGN KEY([CodigoProduto])
REFERENCES [dbo].[Produto] ([CodigoProduto])
GO
ALTER TABLE [dbo].[ItemPedido] CHECK CONSTRAINT [FKB29E5728A14E987]
GO
ALTER TABLE [dbo].[ItemPedidoOpcoesSelecionadas]  WITH CHECK ADD  CONSTRAINT [FK35D778D467F6223B] FOREIGN KEY([CodigoOpcao])
REFERENCES [dbo].[Opcao] ([CodigoOpcao])
GO
ALTER TABLE [dbo].[ItemPedidoOpcoesSelecionadas] CHECK CONSTRAINT [FK35D778D467F6223B]
GO
ALTER TABLE [dbo].[ItemPedidoOpcoesSelecionadas]  WITH CHECK ADD  CONSTRAINT [FK35D778D4B14A1783] FOREIGN KEY([CodigoItemPedido])
REFERENCES [dbo].[ItemPedido] ([CodigoItemPedido])
GO
ALTER TABLE [dbo].[ItemPedidoOpcoesSelecionadas] CHECK CONSTRAINT [FK35D778D4B14A1783]
GO
ALTER TABLE [dbo].[OpcaoProduto]  WITH CHECK ADD  CONSTRAINT [FK8B0173C067F6223B] FOREIGN KEY([CodigoOpcao])
REFERENCES [dbo].[Opcao] ([CodigoOpcao])
GO
ALTER TABLE [dbo].[OpcaoProduto] CHECK CONSTRAINT [FK8B0173C067F6223B]
GO
ALTER TABLE [dbo].[OpcaoProduto]  WITH CHECK ADD  CONSTRAINT [FK8B0173C08A14E987] FOREIGN KEY([CodigoProduto])
REFERENCES [dbo].[Produto] ([CodigoProduto])
GO
ALTER TABLE [dbo].[OpcaoProduto] CHECK CONSTRAINT [FK8B0173C08A14E987]
GO
ALTER TABLE [dbo].[OpcaoSubcategoria]  WITH CHECK ADD  CONSTRAINT [FKFDC69D9C67F6223B] FOREIGN KEY([CodigoOpcao])
REFERENCES [dbo].[Opcao] ([CodigoOpcao])
GO
ALTER TABLE [dbo].[OpcaoSubcategoria] CHECK CONSTRAINT [FKFDC69D9C67F6223B]
GO
ALTER TABLE [dbo].[OpcaoSubcategoria]  WITH CHECK ADD  CONSTRAINT [FKFDC69D9CCA5E303E] FOREIGN KEY([CodigoSubcategoria])
REFERENCES [dbo].[Subcategoria] ([CodigoSubcategoria])
GO
ALTER TABLE [dbo].[OpcaoSubcategoria] CHECK CONSTRAINT [FKFDC69D9CCA5E303E]
GO
ALTER TABLE [dbo].[OpcaoTraducao]  WITH CHECK ADD  CONSTRAINT [FK69ADFAB267F6223B] FOREIGN KEY([CodigoOpcao])
REFERENCES [dbo].[Opcao] ([CodigoOpcao])
GO
ALTER TABLE [dbo].[OpcaoTraducao] CHECK CONSTRAINT [FK69ADFAB267F6223B]
GO
ALTER TABLE [dbo].[OpcaoTraducao]  WITH CHECK ADD  CONSTRAINT [FK69ADFAB2F548BAE] FOREIGN KEY([CodigoIdioma])
REFERENCES [dbo].[Idioma] ([CodigoIdioma])
GO
ALTER TABLE [dbo].[OpcaoTraducao] CHECK CONSTRAINT [FK69ADFAB2F548BAE]
GO
ALTER TABLE [dbo].[Produto]  WITH CHECK ADD  CONSTRAINT [FKAD09A82DCA5E303E] FOREIGN KEY([CodigoSubcategoria])
REFERENCES [dbo].[Subcategoria] ([CodigoSubcategoria])
GO
ALTER TABLE [dbo].[Produto] CHECK CONSTRAINT [FKAD09A82DCA5E303E]
GO
ALTER TABLE [dbo].[ProdutoTraducao]  WITH CHECK ADD  CONSTRAINT [FKA9EABB4B8A14E987] FOREIGN KEY([CodigoProduto])
REFERENCES [dbo].[Produto] ([CodigoProduto])
GO
ALTER TABLE [dbo].[ProdutoTraducao] CHECK CONSTRAINT [FKA9EABB4B8A14E987]
GO
ALTER TABLE [dbo].[ProdutoTraducao]  WITH CHECK ADD  CONSTRAINT [FKA9EABB4BF548BAE] FOREIGN KEY([CodigoIdioma])
REFERENCES [dbo].[Idioma] ([CodigoIdioma])
GO
ALTER TABLE [dbo].[ProdutoTraducao] CHECK CONSTRAINT [FKA9EABB4BF548BAE]
GO
ALTER TABLE [dbo].[Solicitacao]  WITH CHECK ADD  CONSTRAINT [FKD3F4D156C017D7ED] FOREIGN KEY([CodigoConta])
REFERENCES [dbo].[Conta] ([CodigoConta])
GO
ALTER TABLE [dbo].[Solicitacao] CHECK CONSTRAINT [FKD3F4D156C017D7ED]
GO
ALTER TABLE [dbo].[Subcategoria]  WITH CHECK ADD  CONSTRAINT [FKEB3D9FC0190BD838] FOREIGN KEY([CodigoCategoria])
REFERENCES [dbo].[Categoria] ([CodigoCategoria])
GO
ALTER TABLE [dbo].[Subcategoria] CHECK CONSTRAINT [FKEB3D9FC0190BD838]
GO
ALTER TABLE [dbo].[SubcategoriaTraducao]  WITH CHECK ADD  CONSTRAINT [FK30D9F6EACA5E303E] FOREIGN KEY([CodigoSubcategoria])
REFERENCES [dbo].[Subcategoria] ([CodigoSubcategoria])
GO
ALTER TABLE [dbo].[SubcategoriaTraducao] CHECK CONSTRAINT [FK30D9F6EACA5E303E]
GO
ALTER TABLE [dbo].[SubcategoriaTraducao]  WITH CHECK ADD  CONSTRAINT [FK30D9F6EAF548BAE] FOREIGN KEY([CodigoIdioma])
REFERENCES [dbo].[Idioma] ([CodigoIdioma])
GO
ALTER TABLE [dbo].[SubcategoriaTraducao] CHECK CONSTRAINT [FK30D9F6EAF548BAE]
GO
